doctype html
html
  head
    title Signin to Intra Quora
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/css/bootstrap.css', type='text/css', rel='stylesheet')
    link(href='/css/signin.css', type='text/css', rel='stylesheet')
  body
    // signin div
    .signin-div.container-fluid.col-xs-12.col-md-4.col-sm-8
      h1.text-center Intra Quora
      p.text-center A Discussion Forum
      a(href='http://localhost:3000/auth/google')
        
        img.img-responsive(src='/images/btn_google_signin_light_normal_web@2x.png', alt='Google-SignIn')
